{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="centered form">
        <div class="container">
            {{ form_start(form) }}

                <h1>Register here</h1>

                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button type="submit">Register!</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}