<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}medley{% endblock %}</title>
        <link rel="icon" type="img/ico" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="l_tiles">
        {# flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="l_tiles__panel">
            {% include "panel/panel.html.twig" %}
        </div>

        {# Body page content #}
        <div class="l_tiles__content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>