{% extends 'base.html.twig' %}

{% block title %}New Track{% endblock %}

{% block body %}

<div class="centered form">
    <div class="container">
        {{ form_start(form) }}

            <h1>Link to a new track</h1>

            {{ form_row(form.name) }}
            {{ form_row(form.artist) }}
            {{ form_row(form.url) }}
            <select>
                {% for genre in genre %}
                    <option>{{genre}}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit</button>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}