{% extends 'base.html.twig' %}

{% block title %}New Track{% endblock %}

{% block body %}

{{ form_start(form, { 'attr': { 'class': 'form form--centered' } }) }}
    <div class="form__inner">
        <h1>Link to a new track</h1>

        {{ form_row(form.name) }}
        {{ form_row(form.artist) }}
        {{ form_row(form.url) }}
        {{ form_row(form.genre) }}

        <button type="submit">Submit</button>
    </div>
{{ form_end(form) }}
{% endblock %}